@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
background-color:  #e5d3f7;
}

header{
    background: linear-gradient(90deg, #5B2A86, #8B5FBF);
    color: white;
    width: 100%;
    padding: 25px 20px;
}

.cabecalho-itens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
}


.cabecalho_imagem{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}



.titulo_site{
    flex: 1;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: white;
}

.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
}

.sociais img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.banner1{
  height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#FFF7FB, #F3E8FF);
}


.banner-texto{
    text-align: center;
}

.banner-texto h1{
    font-size: 65px;
    color: #6A3FB5;
}

.banner-texto p{
    font-size: 18px;
     color: #000000;
}

.estudante_titulo{
    padding: 30px;
    text-align: center;
    color: #6A3FB5;
    font-size: 45px;
}

.estudante-nome{
text-align: center;
font-family: 'PT Serif', serif;
}
.estudante-imagem{
width: 100px;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
    padding: 24px 0;
}

.estudante-div{
    width: 170px;
    background: white;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}



.estudantes_todos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}


.escola{
background: linear-gradient(90deg,#5B2A86,#8B5FBF);
color: white;
display: block;
text-align:center;
padding: 24px 0;
}

.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #ffffff;
text-decoration: none;
}