@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family: "Poppins", sans-serif;
background-color: #F8F4FC;
}

header{
background-color: #F3ECFF,#E4D3FF;
color: rgb(44, 3, 37);
width: 100%;
padding: 45px 30px;
}

.cabecalho-itens{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
}


.cabecalho_imagem{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}



.titulo_site{
 flex: 1;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    padding: 20px 0;
}
.sociais{
display: flex;
justify-content: flex-end;
width: 25%;
padding-right: 30px;
}

.sociais img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.banner1{
      height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #d64b85, #bd42bd;
}

.banner-texto{
    text-align: center;
}

.banner-texto h1{
    font-size: 45px;
    color: #ff006a;
}

.banner-texto p{
    font-size: 18px;
     color: #000000;
}

.estudante_titulo{
padding: 50px;
text-align: center;

}
.estudante-nome{
text-align: center;
font-family: 'PT Serif', serif;
}
.estudante-imagem{
width: 100px;
}
.estudante-icone{
width: 38px;
padding: 4px 8px;
}
.estudante{
    padding: 24px 0;
}

.estudante-div{
    width: 170px;
    background: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}


.estudantes_todos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}


.escola{
background-image: linear-gradient(#760031,#BD114A);
color: white;
display: block;
text-align:center;
padding: 24px 0;
}

.escola-titulo{
padding: 50px;
text-align: center;
}
.logo_rodape{
height: 80px;
padding: 12px 0;

}

.link{
color: #ffffff;
text-decoration: none;
}